﻿@charset "UTF-8";



	body, input, select, textarea {
		font-size: 12pt;
	}


	.wrapper {
		padding: 4em 0 2em 0;
	}



	#skel-layers-wrapper {
		padding-top: 0;
	}


	#banner {
		padding: 3em 1em;
	}

		#banner .button {
			min-width: 0;
		}


	#navButton .toggle {
		text-decoration: none;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

		#navButton .toggle:before {
			content: "";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		#navButton .toggle:before {
			background: rgba(144, 149, 154, 0.75);
			border-radius: 6px;
			color: #fff;
			display: block;
			font-size: 17px;
			height: 2em;
			left: 0.5em;
			line-height: 2em;
			position: absolute;
			text-align: center;
			top: 0.5em;
			width: 3.5em;
		}

	#navPanel {
		background: #192024;
		color: #c5c7c8;
	}

		#navPanel nav {
			padding: 0.5em 1.25em;
		}

			#navPanel nav ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

				#navPanel nav ul li {
					padding: 0;
				}

					#navPanel nav ul li:first-child a:not(.button), #navPanel nav ul li:first-child span:not(.button) {
						border-top: 0;
					}

					#navPanel nav ul li a:not(.button), #navPanel nav ul li span:not(.button) {
						border-top: solid 1px rgba(144, 144, 144, 0.25);
						color: #ffffff;
						display: block;
						padding: 0.75em 0;
						text-decoration: none;
					}

					#navPanel nav ul li a.button {
						margin-top: 1em;
					}

			#navPanel nav .button {
				width: 100%;
			}